header {
    background-color: #3C486B;
    display: flex;
    justify-content: center;
}
.heading-top {
    color: white;
    margin: 1.5rem auto;
}
#search-container {
    display: inline-block;
    width: 35vh;
    height: 80vh;
    margin:0 2rem;
}

#searchForm {
    display: block;
}
#searchForm h1 {
    margin: .75rem 0;
}

#cityName {
    margin: .75rem 0;
    width: 35vh;
    height: 50px;
    border: solid .75px grey;
    border-radius: 6px;
}

.search-button {
    margin: .75rem 0;
    padding: 1rem 7rem;
    width: 35vh
}

#info-card {
    display: flex;
    flex-direction: column;
    border: solid .75px black;
    margin: 2rem 0;
    width: 65vw;
    height: 30vh;
    font-size: 1.25rem;
    background-color: #F1F6F9;
}

#info-card h2 {
    margin: 10px 15px 5px 15px;
    display: flex;
}

#info-card p {
    margin: 5px 10px 5px 10px;
    display: flex;
    font-size: 1.5rem;
}

.main-container {
    display: inline-flex;
    flex-direction: row;
}
#forecastCards {
    display: inline-block;
    

}
#forecastCards div {
    display: inline-block;
    background-color: #B9EDDD;
    border: solid black 2px;
    margin: 20px;

}
#forecastCards h3 {
    margin: 10px;
}

#forecastCards p {
    margin: 10px;
    font-size: 1.5rem;
}

#historyBtn {
    margin: .75rem 0;
    padding: 1rem 7rem;
    width: 35vh;
}